@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');


:root {
    --primaryColor: #000000;
    --secondaryColor: #6F232;
    --textColor: #C3073F;
    --actionDisabled: rgb(165, 44, 93);
    --actionfocus: rgb(119, 7, 59);
    --actionHover: rgb(224, 181, 199);
    --font: Rajdhani, sans-serif;
}

*{
    color: var(--textColor);
}

body {
    font-family: var(--font);
    /*background-image: url("img/HeroBackground.png");*/
    background-color: var(--primaryColor);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
: secondary-text;
}
.btn-primary, #seller-button, #buyer-button, #register-button {
    color: white;
    background-color: var(--actionDisabled);
}
.btn-primary, #seller-button, #buyer-button, #register-button:hover {
    background-color: var(--actionHover);
}
.btn-primary, #seller-button, #buyer-button, #register-button:active {
    background-color: var(--actionfocus);
}

.wavy {
    position: relative;
    display: flex;
}
.wavy span {
    position: relative;
    display: inline-block;
    font-size: 80px;
    animation: flip 2s;
    animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
    0%, 80% {
        transform: rotateY(360deg)
    }
}

div.spacer{
    margin: 15px;
}

.image-wrapper1, .image-wrapper{
}

div.row.dev{
    max-width: unset;
}
.row.dev p, .socialLinks {
    align-self: center;
    justify-self: center;
}

.image-wrapper-devs{
    display: flex;
    align-self: center;
    justify-self: center;
}

img.dev1, .dev2, .dev3, .dev4{
    height: 195px;
    width: 165px;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.sellerText{

}
.centered-title{
    width: 20em;
    text-align: center;
}
.centered-update-user-form{
    width: 10em;
    text-align: center;
}

/* NAV BAR*/
.login-logout {
    font-size: 25px;
    font-weight: bolder;
    display: flex;
}
.adLister-logo {
    font-size: 35px;
    justify-content: center;
    font-weight: bolder;
}
.navbar-search {
    margin-left: 322px;
    justify-content: center;
}
/*NAV BAR DROPDOWN*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: var(--textColor);
    color: var(--primaryColor);
    font-weight: bolder;
    padding: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.btns{

    padding-top: 10px;
    background-color: var(--textColor);
    color:white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding-left: 5px;
}

.dropdown-content button {
    display: block;
    width: 100%;
    padding: 8px 16px;
    border: none;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

.dropdown-content select:hover, .dropdown-content button:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.list-ads {
    flex-direction: column;
}

.ad-card {
    margin-right: 250px;
    margin-bottom: 5px;
    padding-left: 15px;
    border: 1px solid rgb(202,48,128);
    border-radius: 30px;
    box-shadow: 6px 5px 18px 0px red;
    transition: transform 0.4s, font-size 0.4s;
}

.ad-card:hover{
    transform: scale(1.3);
    font-size: 115%;
}
.ad-card-category {
    margin-right: 250px;
    margin-bottom: 25px;
    padding-left: 15px;
    border: 1px solid rgb(202,48,128);
    border-radius: 30px;
    box-shadow: 6px 5px 18px 0px red;
    transition: transform 0.4s, font-size 0.4s;
}

.ad-card-category:hover{
    transform: scale(1.3);
    font-size: 115%;
}
.nav-bar {
    padding-top: 10px;
}

.row.justify-center {
    padding: 10px;
}
.ad-card {
    margin-right: 250px;
    margin-bottom: 5px;
    padding-left: 15px;
    border: 1px solid rgb(202,48,128);
    border-radius: 30px;
    box-shadow: 6px 5px 18px 0px red;
    transition: transform 0.4s, font-size 0.4s;
}

.ad-card:hover{
    transform: scale(1.3);
    font-size: 115%;
}
.ad-card-category {
    margin-right: 250px;
    margin-bottom: 25px;
    padding-left: 15px;
    border: 1px solid rgb(202,48,128);
    border-radius: 30px;
    box-shadow: 6px 5px 18px 0px red;
    transition: transform 0.4s, font-size 0.4s;
}

.ad-card-category:hover{
    transform: scale(1.3);
    font-size: 115%;
}
.nav-bar {
    padding-top: 10px;
}
.navbar-search-width{
    min-width: 20px;
    align-items: center;
}
.navbar-search-direction {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 6px 300px 6px 6px;
}
.search-btn{
    max-height: 42px;
    min-width: 103px;
    border-radius: 20px;
    margin-left: 9px;
}
.centered-navbar{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.row.subheader {
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 20px;
}

.text-shadow {
    font-style: italic;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: var(--actionfocus);
    -webkit-text-stroke-width: 1px;
    text-shadow: 2px 2px 10px var(--actionHover);
    transition: all 0.5s ease-in-out;
    text-align: center;
    animation: flicker 1s ease-in-out infinite alternate;
}

@keyframes flicker {
    0% {
        opacity: 0.5;
        text-shadow: 2px 2px 10px var(--actionfocus);
    }
    100% {
        opacity: 1;
        text-shadow: 2px 2px 20px var(--actionfocus);
    }
}
