@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');


:root {
    --primaryColor: #000000;
    --secondaryColor: #6F232;
    --textColor: #C3073F;
    --actionDisabled: rgb(165, 44, 93);
    --actionfocus: rgb(119, 7, 59);
    --actionHover: rgb(224, 181, 199);
    --font: Rajdhani, sans-serif;
}

*{
    color: var(--textColor);
}

body {
    font-family: var(--font);
    /*background-image: url("img/HeroBackground.png");*/
    background-color: var(--primaryColor);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
: secondary-text;
}
.btn-primary, #seller-button, #buyer-button, #register-button {
    color: white;
    background-color: var(--actionDisabled);
}
.btn-primary, #seller-button, #buyer-button, #register-button:hover {
    background-color: var(--actionHover);
}
.btn-primary, #seller-button, #buyer-button, #register-button:active {
    background-color: var(--actionfocus);
}

.wavy {
    position: relative;
    display: flex;
}
.wavy span {
    position: relative;
    display: inline-block;
    font-size: 80px;
    animation: flip 2s;
    animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
    0%, 80% {
        transform: rotateY(360deg)
    }
}

div.spacer{
    margin: 15px;
}

.image-wrapper1, .image-wrapper{
}

div.row.dev{
    max-width: unset;
}
.row.dev p, .socialLinks {
    align-self: center;
    justify-self: center;
}

.image-wrapper-devs{
    display: flex;
    align-self: center;
    justify-self: center;
}

img.dev1, .dev2, .dev3, .dev4{
    height: 195px;
    width: 165px;
}

.sellerText{

}

/* NAV BAR*/
.login-logout {
    font-size: 25px;
    font-weight: bolder;
    display: flex;
}
.adLister-logo {
    font-size: 35px;
    justify-content: center;
    font-weight: bolder;
}
.navbar-search {
    justify-content: center;
}
/*NAV BAR DROPDOWN*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.btns{
    background-color: #4CAF50;
    color:white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding-left: 5px;
}

.dropdown-content button {
    display: block;
    width: 100%;
    padding: 8px 16px;
    border: none;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

.dropdown-content select:hover, .dropdown-content button:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}