@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

:root {
    --primaryColor: #000000;
    --secondaryColor: #6F232;
    --textColor: #C3073F;
    --actionHover: rgb(165, 44, 93);
    --actionfocus: rgb(119, 7, 59);
    --actionDisabled: rgb(224, 181, 199);
    --font: Rajdhani, sans-serif;
}

*{
    color: var(--textColor);
}

body {
    font-family: font;
    /*background-image: url("img/HeroBackground.png");*/
    background-color: var(--primaryColor);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
: secondary-text;
}

.btn-primary:hover {
    background-color: var(--actionHover);
}

.image-wrapper1, .image-wrapper{
    display: flex;
    height: 300px;
    width: 200px;
}

div.row.dev{
    max-width: unset;
}
.row.dev p, .socialLinks {
    align-self: center;
    justify-self: center;
}

.image-wrapper-devs{
    display: flex;
    align-self: center;
    justify-self: center;
}

img.dev1, .dev2, .dev3, .dev4{
    height: 195px;
    width: 165px;
}

.sellerText{

}