@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

body {
    font-family: Rajdhani, sans-serif;
    /*background-image: url("img/HeroBackground.png");*/
    background-color: #000000;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}